@model PracticaVI.Detalle

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Detalle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PrecioTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Restante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Restante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Articulo.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Articulo.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Factura.IdFactura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Factura.IdFactura)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdDetalle }) |
    @Html.ActionLink("Back to List", "Index")
</p>
