@model IEnumerable<PracticaVI.Detalle>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PrecioTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Restante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Articulo.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Factura.IdFactura)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PrecioTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Restante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Articulo.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Factura.IdFactura)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdDetalle }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdDetalle }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdDetalle })
        </td>
    </tr>
}

</table>
